@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
@import url('https://fonts.googleapis.com/css?family=Cinzel');
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}



html {
	font-size: 125% ;
    }

body{
    line-height: 1.5;
    overflow-x: hidden;
    background-image: url(ui-img/daniel-apodaca-784965-unsplash.jpg);
    background-size:cover;
    font-family: Helvetica, sans-serif;
    background-size: 100%;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 0.005rem;
    color: #fff;
    }
p{
    margin-bottom: 1.8rem;
    } 

h1{
    margin-bottom: 2.1rem;
    font-size: 1.4rem;
    text-align: center;
    font-family: 'Cinzel', serif;
    font-weight: bold;
    }

h2{
    font-size:1.2rem; 
    margin-bottom: 1.6rem;
}

.logo{
    width: 100%;
    background-color: rgba(8, 8, 8, 0.897);
    padding:.5rem;
    position: fixed;
    top: 0;
    text-align: center;
    left: 50%;
    transform: translate(-50%);
    line-height: 1;
    font-family: 'Kaushan Script', cursive;
    cursor: pointer;
    text-shadow: 1px 1px 4px rgba(255,255,255, .8);
    }

.logo h1{
    margin-bottom: 0;
    font-size: 1.8rem;
    font-family: 'Kaushan Script', cursive;
    }

.logo h1::first-letter{
    color: rgb(12, 211, 12);
    }

.logo h2{
    font-family: Georgia, serif;
    font-size: .8rem;
    font-weight: bold;
    margin-bottom: 0;
    }

.menu-icon {
    cursor: pointer;
    display: block;
    padding: 1.2rem;
    position: fixed;
    top:0;
    width: .5rem;
    z-index: 10;
    }
    
.menu-icon .navicon {
    background-color: rgb(232, 235, 229);
    display: block;
    height: 2px;
    position: fixed;
    top: 1.5rem;
    transition: all .2s ease-out;
    width: 1.5rem;
    }

.mainHeader .menu-icon .navicon:before,
.mainHeader .menu-icon .navicon:after {
    background: rgb(238, 233, 233);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
    }

.mainHeader .menu-icon .navicon:before {
    top: 9px;
    }

.mainHeader .menu-icon .navicon:after {
    top: -9px;
    }

#menu-btn {
    display: none;
    }

#menu-btn:checked ~ .mainNav {
   top:3.3rem;
   z-index: 1;
    }

#menu-btn:checked ~ .menu-icon .navicon {
    background:transparent;
    }

#menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
    }

#menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
    }

#menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
#menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
    }

.mainNav{
    width: 100%;
    height: 100%;
    border-top: 1px solid #fff;
    font-family: 'Cinzel', serif;
    background-color: rgba(8, 8, 8, 0.897);
    position: fixed;
    top: -100%;
    left: 0;
    transition: all .8s ease-out; 
    }

.mainNav li{
    padding: 1rem 3rem;
    }

.mainNav li:first-child{
    padding-top: 2rem;
    }

.mainNav li:hover{
    background-color: #a39e9e33;
	color: #81d688; 
    }

.intro, .carta, .galeria, .contact{
    margin: 3rem auto;
    width:80% ;
    background-color: rgba(16, 17, 17, 0.973);
    padding: 1.5rem;
    box-shadow:5px 10px 5px 5px rgba(8, 8, 8, 0.75);
    }

.boxstart{
    display: none;
    } 

section{
    text-align: center;
    }

.carta{
    white-space: nowrap;
    }   

.carta h2:nth-of-type(2){ 
    border-top: 1px solid #fff;
    padding-top: 1.5rem;
    }

.galeriaWrapp{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    }

figure img{
    display: block;
    padding: 15%;
    max-height:300px;
    max-width: 300px; 
    }
    
figcaption {
  display: none;
  }

.contact{
   background-color: rgba(169, 175, 175, 0.747) ;
   }

.contact a, .contact h2{
    text-decoration: none;
    color: #223;
    }

footer{
    width: 100%;
    background-color: rgba(12, 211, 12, 0.746);
    text-align: center;
    }

    .footerRedes{
        display: flex;
        justify-content: center;
        }

    .footerRedes .facebook {
        display: block;
        height: 40px;
        width: 40px;
        background-image: url(ui-img/facebook-logo-outline.png);
        background-size: 70%;
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
        }

   .footerRedes .instagram{
        display: block;
        height: 40px;
        width: 40px;
        background-image: url(ui-img/instagram-social-outlined-logo.png);
        background-size: 70%;
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
        }
    

@media (min-width:650px){

    .mainNav li{
        font-size:1.2rem; 
        }

    }

@media(min-width:1200px){
    
    .menu-icon{
        display: none;
        }

    h1{
        font-size: 1.8rem;
        }

    .logo{
        left: 10%;
        background-color: transparent;
        z-index: 3;
        }

    .logo h1{
        font-size: 2rem;
        }

    .logo h2{
        font-size: 1rem;
        }
        
    .mainNav{
        width: 100%;
        height: auto;
        position: fixed;
        top: 0;
        border-top: 1px solid transparent;
        
        text-align: center;
        color: #fff;
        z-index: 2;
        }
    
    .mainNav ul{
        display: flex;
        justify-content: flex-end;
        }
    
    .mainNav li{
        padding: 20px;
        cursor:pointer;
        }

    .mainNav li:first-child{
        padding-top: 20px;
        }
       
            
    .wrapp{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        }
 
    .intro{
        width: 50%;
        margin: 0;
        margin-top: 10%;
        }
    
    .boxstart{
        width: 30%;
        height: 100%;
        margin-top: 15%;
        padding: 3%;
        background-color: rgba(16, 17, 17, 0.973);
        display: flex;
        flex-wrap: wrap;
        justify-content:space-around;
        z-index: -1;
        box-shadow:5px 10px 5px 2px rgba(15, 14, 14, 0.75);
        }
        
    article img{
        height:10vw;
        width: 10vw;
        margin: 9px 9px;
        }

    .carta{
        width: 40%;
        }

    figure{
        width: 300px;
        display: flex;
        padding: 1rem;
        flex-wrap: wrap;
        justify-content: space-around;
        -webkit-transform: perspective(500);
        -webkit-transform-style: preserve-3d;
        -webkit-transition: .5s;
        }
    
    figure:hover{
        -webkit-transform: perspective(500) rotateX(90deg) translateY(-3em) translateZ(3em);
        }                

    figcaption{
        width: 300px;
        margin-top: -2.5rem;
        display: block;
        line-height: 1rem;
        background-color: rgba(16, 17, 17, 0.973);
        color: #fff;
        padding: 1rem;
        -webkit-transform: rotateX(-90deg);
        -webkit-transform-origin: 100% 0;
        -webkit-transition: .5s;
        border-top: 3px solid rgba(16, 17, 17, 0.973);
        }

    .contact{
        width: 50%;
        }
     
     .contact a{
         display: block;
         font-size: 1.2rem;
         text-align: center;
        }   
  
    
    
    
}


















