@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
@import url('https://fonts.googleapis.com/css?family=Cinzel');
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

html {
	font-size: 125% ;
	line-height: 1.5;

	}

body {
	background-image: url(ui-img/daniel-apodaca-784965-unsplash.jpg);
	background-size:cover;
	font-family: Helvetica, sans-serif;
	background-size: 100%;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	letter-spacing: 0.005rem;
	box-sizing: border-box;
}

.mainHeader {
	width: 100%;
	height:10vh;
	font-size: 1.5rem;
	line-height: 1.3;
	display: flex;
	justify-content: space-between;
	font-family: 'Cinzel', serif;
	color: white ;
	position:fixed;
	z-index: 9999;
	top:0;
	left: 0;
	box-sizing: border-box;
	background-color: black;
	white-space: nowrap;
	
	}

.logo {
	text-align: center ;
	line-height: 1;
	font-family: 'Kaushan Script', cursive;
	font-size: 1.5rem;
	cursor: pointer ;
	padding: 10px;
	color: white;
	}


	.logo::first-letter{
		color: rgb(12, 211, 12);
	}
	.logo:hover {
		background-color: #fff;
		color:black;
	}
	.logo h1{
		font-family: 'Times New Roman', Times, serif;
		font-size: .5rem;
		color: #fff;
	   }
	   .logo:hover h1{
		   color:black;
		}
	.logo a{
		text-decoration: none;
		color: #000;
	}
	.logo a:hover{
		color: #000;
	}
	.mainNav li:hover {
		color: black;
	}

.mainNav {
	padding: 1%;
}

.mainNav ul {
	display:flex;
}

.mainNav li {
	padding: 0 50px ;
	cursor: pointer ;
	}
.mainNav li:hover {
	background-color:#fff;
	color: black;
}
	 



section:nth-child(1) {	
 height: 120vh;
}
 .intro{
	height: 95vh;
	width: 45vw;
	background-color: rgba(16, 17, 17, 0.973)  ;
	padding: 20px 20px;
	font-size: 1.2rem;
	color: whitesmoke ;
	text-align: center;
	line-height: 1.5;
	font-weight:normal;
	display: block;
	position: absolute;
	left: 10%;
	top: 20%;
	-webkit-box-shadow:5px 10px 5px 5px rgba(8, 8, 8, 0.75);
	box-sizing:border-box;
	}
	
  @keyframes slidein {
	from {
	  margin-left:50%;
	  width: 200%
	}
  
	to {
	  margin-left: 0%;
	  width: 50%;
	}
  }
	.boxstart{
		width:38vw;
		height:60vh;
		background-color: rgba(16, 17, 17, 0.973)  ;
 	    position: absolute;
		display: flex;
		flex-wrap: wrap;
		justify-content:space-around;
		left: 61%;
		top: 40%;
		z-index: -1;
		-webkit-box-shadow:5px 10px 5px 2px rgba(15, 14, 14, 0.75);
	  }
	
	article img{
		padding: 10px 10px;
		max-width: 25vh;
		max-height: 25vh;
		border-radius: 4px;
	
	   }
  
	   article:hover img{
		cursor: pointer;
	  border-radius:50%;
	  -webkit-border-radius:50%;
	  box-shadow: 0px 0px 15px 15px #81d688;
	  -webkit-box-shadow: 0px 0px 15px 15px #72b33d;
	  transform: rotate(360deg);
	  -webkit-transform: rotate(360deg);
	
	  }

section:nth-child(2) {

height: 150vh;
}

	
.mainCarta{
	width: 35vw;
	height: 110vh;
	background-color: rgba(16, 17, 17, 0.973)  ;
	position: relative;	
	top:10%;
	left: 30%;
	color: white;
	-webkit-box-shadow:5px 10px 5px 5px rgba(8, 8, 8, 0.75);
	
	}
	.mainCarta h5{
		padding: 1rem;
		transform: rotate(-12deg);
		font-family: 'Cinzel', serif;
		font-size: 1rem;
		font-weight:bold;
	}
	  
	.mainCarta p{
		text-align: center;
		font-size: 1rem;
		line-height: 1;
		padding: 9px;
		}
     }

section:nth-child(3) {
	height: 120vh;
	}
	
	.galeria{
	width: 70vw; 
	height: 65vh;
	background-color: rgba(16, 17, 17, 0.973)  ;
	position: relative;
	left:15%;
	top: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-box-shadow:5px 10px 5px 5px rgba(12, 9, 9, 0.363);
	font-size: 1rem;
	line-height: 1.3;
	font-family: 'Cinzel', serif;
	color: white;
	}

	section:nth-child(3) h2 {
		padding-top: 2%;
		margin-left: 2%;
		text-align: inherit;
		font-size: 1.5rem;
	}

	figure{
		float: left;
		height: 16vh;
		margin: 1.5em;
		width:12vw;
		-webkit-transform: perspective(500);
		-webkit-transform-style: preserve-3d;
		-webkit-transition: .5s;
	}
	 figure:hover {
		-webkit-transform: perspective(500) rotateX(90deg) translateY(-3em) translateZ(3em);
	}
	figure img {
		background-color: #000;
		box-shadow: 0px 20px 15px -10px rgba(24, 23, 23, 0.25);
		display: block;
		height:16vh;
		width:12vw;
		-webkit-transition: .5s;
	}
	figure:hover img {
		box-shadow: none;
	}
	figcaption {
		background-color: rgba(13, 14, 13, 0.973);
		color: #fff;
		padding: 1.5em;
		-webkit-transform: rotateX(-90deg);
		-webkit-transform-origin: 100% 0;
		-webkit-transition: .5s;
	}
	figure:hover figcaption {
		cursor: pointer;
		box-shadow: 0 20px 15px -10px rgba(19, 18, 18, 0.397);
	}
	figure h3 p {
		font-weight: bold;
		font-size: 0.5rem;
		text-align: center;
		letter-spacing:0.1;
	}
		

section:nth-child(4) {
	height: 60vh;
	padding: 4%;
}
	
.footer-columna{
 width:69vw;
 height: 55vh;
left: 20%;
transform:translate(-50% -50%);
position: relative;
background-color: rgba(196, 204, 204, 0.473) ;
-webkit-box-shadow:5px 10px 5px 5px rgba(0, 0, 12, 0.363);
 text-align:center;
 color: rgba(0, 0, 0, 0.733);
font-size: 1.5rem;
font-family: Arial, Helvetica, sans-serif;
cursor: pointer;
margin: auto;
display: inline-block;
flex-wrap: wrap;
align-items: center;
box-sizing: border-box;

}

	
.footer-columna h2 {
	color: rgba(8, 15, 26, 0.562);
	font-weight: bold;
	font-size: 1.8rem;
    }

	.footer-columna h3 {
		color: rgba(8, 15, 26, 0.562);
		font-weight: bold;
		font-size: 1.8rem;
	    }

	.footer-columna span p{
		display: inline-block;
		margin-left: 5px;
		margin-bottom: 15px;
		font-family: Arial, Helvetica, sans-serif;
		padding: 20px;
		}
		

		footer{
			height:70px;
			background-color: rgba(18, 19, 19, 0.096);;
			color: rgba(0, 2, 7, 0.507);
			text-align: center;
			}


.footer-redes {
	display: flex;
	justify-content:center;

   }



.footer-redes .fa-facebook {
	display: block;
	height: 40px;
	width: 40px;
	background-image: url(ui-img/facebook-logo-outline.png);
	background-size: 70%;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;

   }

.footer-redes .fa-instagram{
	display: block;
	height: 40px;
	width: 40px;
	background-image: url(ui-img/instagram-social-outlined-logo.png);
	background-size: 70%;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
	
   }


}


.intro{
	height: 95vh;
	width: 40vw;
	background-color: rgba(16, 17, 17, 0.973)  ;
	padding: 20px 20px;
	font-size: 1.2rem;
	text-align: center;
	line-height: 1.5;
	font-weight:normal;
	//border: 2px solid rgb(26, 25, 25);
	display: block;
	position: absolute;
	left: 10%;
	top: 20%;
	-webkit-box-shadow:5px 10px 5px 5px rgba(8, 8, 8, 0.75);
	box-sizing:border-box;
	}

	h5{
	font-size: 1.5rem;
	line-height: 1;
	font-family: 'Cinzel', serif;
	animation-duration: 1.5s;
	animation-name: slidein;
   }
  @keyframes slidein {
	from {
	  margin-left:10%;
	  width: 200%
	}
  
	to {
	  margin-left: 0%;
	  width: 50%;
	}
  }
  


.boxstart{
	width:38vw;
	height:60vh;
	//background-color: #A67B34;
	background-color:rgba(190, 217, 228, 0.432);
	//background-color: rgba(199, 123, 36, 0.353);
	position: absolute;
	display: flex;
	flex-wrap: wrap;
	justify-content:space-around;
	left: 61%;
	top: 40%;
	z-index: -1;
	-webkit-box-shadow:5px 10px 5px 2px rgba(15, 14, 14, 0.75);
  }

article img{
	padding: 10px 10px;
	max-width: 25vh;
	max-height: 25vh;
	display: block;
	border-radius: 4px;
   }
  article:hover img{
	  cursor: pointer;
	border-radius:50%;
	box-shadow: 0px 0px 15px 15px #81d688;
   -webkit-box-shadow: 0px 0px 15px 15px #72b33d;
	transform: rotate(360deg);
	}
.mainCarta {
width: 35vw;
height: 110vh;
background-image:url(ui-img/tabla-menu.jpg);
position: relative;	
top:10%;
left: 30%;
color: white;
-webkit-box-shadow:5px 10px 5px 5px rgba(8, 8, 8, 0.75);
 }

.mainCarta h5{
	padding: 1rem;
	transform: rotate(-12deg);
	font-family: 'Cinzel', serif;
	font-size: 1rem;
	font-weight:bold;
}
  
.mainCarta p{
	text-align: center;
	font-size: 1rem;
	line-height: 1;
	padding: 9px;
	}


 h2{
padding: 10px;
font-family: 'Cinzel', serif;
line-height: 1;
font-size: 1.5rem;
line-height: 1;
font-family: 'Cinzel', serif;
}
h3{
	line-height: 1;
	font-size: 1rem;
	text-align: center;
}

figure{
    float: left;
    height: 16vh;
    margin: 1.5em;
    width:12vw;
    -webkit-transform: perspective(500);
    -webkit-transform-style: preserve-3d;
    -webkit-transition: .5s;
}
 figure:hover {
    -webkit-transform: perspective(500) rotateX(90deg) translateY(-3em) translateZ(3em);
}
figure img {
	background-color: #000;
    box-shadow: 0px 20px 15px -10px rgba(24, 23, 23, 0.25);
    display: block;
	height:16vh;
	width:12vw;
    -webkit-transition: .5s;
}
figure:hover img {
    box-shadow: none;
}
figcaption {
    background-color: rgba(13, 14, 13, 0.973);
    color: #fff;
    padding: 1.5em;
    -webkit-transform: rotateX(-90deg);
    -webkit-transform-origin: 100% 0;
    -webkit-transition: .5s;
}
figure:hover figcaption {
	cursor: pointer;
    box-shadow: 0 20px 15px -10px rgba(19, 18, 18, 0.397);
}
figure h3 p {
	font-weight: bold;
	font-size: 0.5rem;
	text-align: center;
	letter-spacing:0.1;
	
}​




@media screen and (min-width:450px){
	
	
	.mainNav ul{
		justify-content: flex-end;
	}

	.mainNav li{
		padding: 0 10px;
	}
}

		
		 
		 .intro{
				height: 650px;
				width: 420px;
				background-color: rgba(16, 17, 17, 0.973)  ;
				padding: 20px;
				font-size: 1rem;
				text-align: center;
				line-height: 1.5;
				font-weight:normal;
				display: block;
				position: absolute;
				-webkit-box-shadow:5px 10px 5px 5px rgba(8, 8, 8, 0.75);
				box-sizing:border-box;
				}
			

			.footer-columna{
				width:69vw;
				height:55vh;
				font-size: 1rem;
			}
		}
		   section:nth-child(2) {
			 display: none;
			 }

          .boxstart{
			display: none;
		    }
 
		  .mainCarta{
			display: none;
		   }
		  section:nth-child(3) {
			display: none;
		    }
		 .galeria{
			display: none;
		  }
	}
 
 @media (min-width:680px) and (max-width:1200px){
		




	.footer-columna{
		width:50vw;
		height:50vh;
		font-size: 1rem;
	}









